$colorPrimary: #9DFF3A;
$colorDark: #0F0F0F;
$colorText: #999999;
$colorTitle: #E5E5E5;
$fontFamily: "Inter", sans-serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Alexandria", sans-serif;
    background-color: #000;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.features {
    text-align: center;
    padding: 80px 0;

    &__decoration-text {
        color: $colorPrimary;
        display: inline-block;
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 32px;
        border: 1px solid #2e2e2e;
        padding: 10px 20px;
        border-radius: 24px;
        line-height: 17px;
    }

    &__title {
        font-size: 48px;
        font-weight: 400;
        margin-bottom: 20px;
        line-height: 100%;
        color: $colorTitle;
    }

    &__text {
        font-size: 18px;
        margin: 0 auto;
        margin-bottom: 80px;
        color: $colorText;
        font-weight: 400;
        max-width: 644px;
        font-family: $fontFamily;
        line-height: 140%;

    }
    &__list{
        display: grid;
            gap: 24px;
            justify-content: center;
            grid-template-columns: repeat(3, 1fr);

    }

}

.feature {
    background: rgba(255, 255, 255, 0.04);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    text-align: center;
    padding: 48px 36px;
    text-align: center;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.5s ease;

    &__wrapper-icon{
        width: 48px;
            height: 48px;
            margin: 0 auto 36px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &__title{
            font-size: 20px;
                font-weight: 400;
                font-family: $fontFamily;
                margin-bottom: 16px;
                color: $colorTitle;
                line-height: 140%;

        }
        &__text{
            font-size: 16px;
                color: $colorText;
                font-weight: 400;
                line-height: 20px;

        }

    }
    .feature:hover{
        transform: scale(1.1);
    }

.icon {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}




@media (max-width: 767px) {
    .features {
        padding: 40px 0;
    }

    .feature__decoration-text {
        font-size: 14px;
        line-height: 17px;
        margin-bottom: 16px;
    }
    .features__title{
        font-size: 28px;
        line-height: 100%;
    }
    .features__text{
        margin-bottom: 32px;

    }

    .features__list {
        gap: 16px;
        grid-template-columns: 1fr;
    }

    .feature{
        padding: 30px 24px;
    }


}
