$colorPrimary: #9DFF3A;
$colorDark: #0F0F0F;
$colorText: #999999;
$colorTitle: #E5E5E5;
$fontFamily: "Inter", sans-serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Alexandria", sans-serif;
    background-color: #000;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.testimonial {
    background-color: $colorDark;
    text-align: center;
    padding: 80px 0 149px;


    &__decoration-text {
        color: $colorPrimary;
        display: inline-block;
        font-size: 14px;
        line-height: 17px;
        font-weight: 400;
        margin-bottom: 20px;
        border: 1px solid #2e2e2e;
        padding: 10px 20px;
        border-radius: 24px;
    }

    &__title {
        font-size: 48px;
        font-weight: 400;
        margin-bottom: 20px;
        color: $colorTitle;
        line-height: 100%;
    }

    &__text {
        font-size: 18px;
        margin: 0 auto;
        margin-bottom: 72px;
        color: $colorText;
        font-weight: 400;
        max-width: 644px;
        font-family: $fontFamily;
        line-height: 140%;
    }
}

.innovators {
    width: 373px;
    background: #000;
    border: 1px solid #4d4d4d;
    border-radius: 16px;
    padding: 32px;

    &__text {
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        color: #EDEDF2;
        text-align: left;
        margin-bottom: 32px;


    }

    &__author {
        display: flex;
        column-gap: 16px;
        align-items: center;
    }



    &__wrapper-photo {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        overflow: hidden;
    }

    &__info {
        flex-grow: 1;
    }

    &__name {
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #fff;
        text-align: left;
    }

    &__role {
        font-weight: 400;
        font-size: 15px;
        color: #4d4d4d;
        line-height: 15px;
        text-align: left;
    }

}


.photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.swiper-slide {
    width: 373px;
}
.testimonial__swipper{
    width: 100%;
}

.testimonial__swipper{
    overflow: hidden;
    padding: 0 60px;
    mask-image: linear-gradient(to right,
            transparent,
            #fff 60px,
            #fff calc(100% - 60px),
            transparent calc(100%)
        )
}

.swiper-wrapper {
    margin: 0 -60px;
}

@media(max-width:767px){
    .testimonial{
        padding: 40px 0;
    }
    .testimonial__decoration-text{
        margin-bottom: 16px;
    }
    .testimonial__title{
        font-size: 28px;
        margin-bottom: 16px;
    }
    .testimonial__text{
        font-size: 16px;
        margin-bottom: 32px;
        width: 362px;
    }
        .innovators, .swiper-slide{
            width: 343px;
        }
.innovators__text{
    margin-bottom: 24px;
}
.innovators__name{
    margin-bottom: 6px;
}
.innovators__role{
    font-size: 12px;
}
}