$color-primary: #9DFF3A;
$color-dark: #0F0F0F;
$color-text: #999999;
$color-title: #E5E5E5;
$font-family: "Inter", sans-serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Alexandria", sans-serif;
    background-color: #000;
}

.header {
    background-color: #000;
    width: 100%;
    padding: 20px 120px;
    margin-bottom: 88px;

    @media (max-width:767px) {
        .header {
            padding: 24px;
            margin-bottom: 50px;
        }
    }

    &__container {
        max-width: 1400px;
        margin: 0 auto;
        padding: 0 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;

    }

    &__wrapper-logo {
        display: flex;
        align-items: center;
        text-decoration: none;
        gap: 11px;
        font-weight: 500;
        font-size: 22px;
        line-height: 27px;
        color: #fff;

    }

    &__logo {
        height: 32px;
        width: 32px;
    }

    &__menu {
        width: 18px;
        height: 12px;

    }

    .actions__link {
        display: flex;
        gap: 40px;
        text-decoration: none;
    }

    .header__btn {
        background-color: transparent;
        border: none;
        padding: 10px 24px;
        background-color: $color-primary;
        border-radius: 40px;
        color: #000;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        cursor: pointer;
    }

    .btn {
        background: transparent;
        border: none;
        text-decoration: none;
        color: #fff;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
    }

    @media (min-width:768px) {
        .header__menu {
            display: none;
        }

    }
}

.nav {
    &__list {
        display: flex;
        justify-content: center;
        list-style: none;
        gap: 40px;
    }

    &__link {
        text-decoration: none;
        color: #999999;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        flex-shrink: 0;
    }

    &__link:hover {
        color: $color-title ;
    }
}

@media (max-width:767px) {

    .actions {
        display: none;
    }

    .nav {
        display: none;
    }
}

// ------------------главная------------------
.container {
    margin: 0 auto;
    padding: 0 120px;
    box-sizing: border-box;
}

.main {
    &__box {
        display: flex;
        gap: 105px;
        align-items: center;
        justify-content: space-between;
    }
        @media(max-width:768px) {
            .main__box {
                gap: 32px;
            }
        }

    &__decoration-text {
        display: inline-flex;
        justify-content: center;
        gap: 8px;
        align-items: center;
        color: $color-primary;
        font-size: 14px;
        font-weight: 400px;
        border: 1px solid #4D4D4D;
        margin-bottom: 24x;
        padding: 10px 20px;
        border-radius: 24px;
        max-width: 157px;
    }

    &__decoration-text::before {
        content: '';
        display: block;
        width: 9px;
        height: 9px;
        background-color: $color-primary;
        border-radius: 50%;

    }

    &__title {
        font-size: 64px;
        font-weight: 700;
        width: 100%;
        max-width: 661px;
        color: $color-title;
        text-align: left;
    }

    &__text {
        font-size: 18px;
        line-height: 1.5;
        width: 100%;
        max-width: 583px;
        color: $color-text;
        margin-bottom: 40px;
        text-align: left;
    }

    &__actions {
        display: flex;
        gap: 20px;
        align-items: center;
    }
}

.btn {
    display: inline-flex;
    align-items: center;
    padding: 14px 24px;
    text-decoration: none;
    border-radius: 40px;
    cursor: pointer;
}

.btn-primary {
    background-color: $color-primary;
    color: #000;
    font-weight: 400;
    font-size: 18px;
}

.btn-secondary {
    display: flex;
    gap: 11px;
    color: #fff;
    border: 2px solid rgba(255, 255, 255, 0.2);
    padding-left: 18px;
}

@media(max-width:768px) {
    .btn-secondary {
        margin-bottom: 32px;
    }
}

.btn-secondary::before {
    content: '';
    width: 0;
    height: 0;
    border-top: 11px solid transparent;
    border-left: 14px solid $color-title;
    border-bottom: 11px solid transparent;

}

.image-container {
    max-width: 100%;
    height: auto;

}

@media (max-width:768px) {
    .main__box {
        flex-direction: column;
        justify-content: center;

    }

    .main__decoration-text {
        display: flex;
        font-size: 16px;
        justify-content: center;
        margin: 0 auto;
        margin-bottom: 16px;
    }

    .main__title {
        text-align: center;
        font-size: 40px;
        margin-bottom: 16px;
    }

    .main__text {
        text-align: center;
        font-size: 16px;
        margin-bottom: 32px;
    }

    .main__actions {
        flex-direction: column;
        gap: 20;
        margin-bottom: 20px;
    }

    .decoration__image {
        width: 300px;
        height: 300px;
        justify-content: center;
    }
}

// ---------------Логотип--------------------
.section__logo {
    background-color: #0f0f0f;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 120px;
}

.section__logo-title {
    text-align: center;
    color: $color-text;
    font-weight: 400;
    font-size: 16px;
    padding: 40px 0;
}

.section__logo-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 72px;

}

.section__logos {
    display: flex;
    align-items: center;
    gap: 8px;
    list-style: none;
    font-size: 16px;
    font-weight: 700;
    color: $color-text;
    margin-bottom: 40px;
}

@media (max-width:768px) {
    .section__logo-list {
        flex-wrap: wrap;
        gap: 20px;
    }
}

// -------------------features--------------------------




.future__breakdown {
    text-align: center;

}



.feature__decoration-text {
    color: $color-primary;
    margin-top: 80px;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 32px;
    border: 1px solid #2e2e2e;
    padding: 10px 20px;
    border-radius: 24px;
}

.future__title {
    font-size: 48px;
    font-weight: 400;
    margin-bottom: 20px;
    color: $color-title;
}

.future__text {
    font-size: 18px;
    margin: 0 auto;
    color: $color-text ;
    margin-bottom: 80px;
    font-weight: 400;
    max-width: 644px;
    font-family:$font-family;
    
}

/* Сетка карточек */
.features-grid {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.feature-card {
    background: rgba(255, 255, 255, 0.04);
    border-radius: 12px;
    padding: 30px;
    flex: 1;
    max-width: 384px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.1);
    text-align: center;
    padding: 48px 36px;
    margin-bottom: 80px;
}

.card-title {
    font-size: 20px;
    font-weight: 400;
    font-family:$font-family;
    margin-bottom:16px;
    color: $color-title;
}

.card-description {
    font-size: 16px;
    color: $color-text;
    font-weight: 400;
    line-height: 1.4;
}



.icon {
    width: 36px;
    height: 36px;
    margin-bottom: 36px;
    position: relative;
}

/* Медиа-запросы для адаптивности */
@media (max-width: 768px) {
    .features-grid {
        flex-wrap: wrap;
        justify-content: center;
    }

    .feature-card {
        max-width: 100%;
      
    }
}

@media (max-width: 768px) {
    .future__title {
        font-size: 28px;
        margin-bottom: 16px;
    }

    .future__text {
        font-size: 16px;
        margin-bottom: 32px;
    }

    .features-grid {
        flex-direction: column;
        gap: 16px;
    }

    .feature-card {
        max-width: 100%;
        
        text-align: center;
    }

    .icon-placeholder {
        margin: 0;
    }
}