$colorPrimary: #9DFF3A;
$colorDark: #0F0F0F;
$colorText: #999999;
$colorTitle: #E5E5E5;
$fontFamily: "Inter", sans-serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Alexandria", sans-serif;
    background-color: #000;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.statistics {
    background-color: $colorDark;
    text-align: center;
    padding: 120px 0;


    &__decoration-text {
        color: $colorPrimary;
        display: inline-block;
        font-size: 14px;
        line-height: 17px;
        font-weight: 400;
        margin-bottom: 20px;
        border: 1px solid #2e2e2e;
        padding: 10px 20px;
        border-radius: 24px;
    }

    &__title {
        font-size: 48px;
        font-weight: 400;
        margin-bottom: 20px;
        color: $colorTitle;
        line-height: 100%;
    }

    &__text {
        font-size: 18px;
        margin: 0 auto;
        margin-bottom: 72px;
        color: $colorText;
        font-weight: 400;
        max-width: 644px;
        font-family: $fontFamily;
        line-height: 140%;
    }
}

.statistic {
    display: flex;
    gap: 72px;
    justify-content: center;

    &__number {
        display: block;
        color: $colorPrimary;
        font-size: 48px;
        font-weight: 400;
        line-height: 100%;
        margin-bottom: 20px;
    }

    &__label {
        color: $colorText;
        font-size: 20px;
        font-weight: 400;
        line-height: 140%;
        font-family: $fontFamily;
    }
}

@media (max-width: 767px) {
    .statistics {
        padding: 40px 20px;
    }

    .statistic__info {
        margin-bottom: 16px;
    }

    .statistics__title {
        font-size: 28px;
        margin-bottom: 16px;
    }

    .statistics__text {
        font-size: 14px;
        margin-bottom: 72px;
        line-height: 17px;
        font-family: "Alexandria", sans-serif;
        margin-bottom: 32px;
    }
    .statistic{
        flex-direction: column;
        gap: 24px;
    }
    .statistic__number{
        margin-bottom: 12px;
    }

}