$colorPrimary: #9DFF3A;
$colorDark: #0F0F0F;
$colorText: #999999;
$colorTitle: #E5E5E5;
$fontFamily: "Inter", sans-serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Alexandria", sans-serif;
    background-color: #000;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.dignity {
    padding: 60px 0;
    text-align: center;

    &__decoration-text {
        color: $colorPrimary;
        display: inline-block;
        font-size: 14px;
        font-weight: 400;
        margin-bottom:20px;
        border: 1px solid #2e2e2e;
        padding: 10px 20px;
        border-radius: 24px;
        line-height: 17px;
    }

    &__title {
        font-size: 48px;
        font-weight: 400;
        margin-bottom: 20px;
        line-height: 100%;
        color: $colorTitle;
        text-transform: capitalize;
    }

    &__text {
        font-size: 18px;
        margin: 0 auto;
        margin-bottom: 80px;
        color: $colorText;
        font-weight: 400;
        max-width: 644px;
        font-family: $fontFamily;
        line-height: 140%;
    }

    // -----------блоки--------------
    &__block-icon {
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__block-title {
        font-size: 20px;
        line-height: 140%;
        font-weight: 400;
        font-family: $fontFamily;
        color: $colorTitle;
        margin-bottom: 8px;
        text-align: left;
    }

    &__block-text {
        font-size: 16px;
        line-height: 20px;
        font-weight: 400;
        color: $colorText;
        text-align: left;
    }
}

.dignity__img {
    aspect-ratio: 1/1;
    overflow: hidden;
}
.dignity__img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.dignity__blocks {
    display: grid;
    gap: 40px;
}

.dignity__wrapper-content {
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    align-items: center; 
    gap: 72px;
}

.dignity__block {
    display: flex;
    align-items: start;
    column-gap: 24px;
    max-width: 622px;
    background-color: $colorDark;
    border: 1px solid rgba(255, 255, 255, 0.1); ;
    border-radius: 20px;
    padding: 30px 20px;
    transition: transform 0.5s ease;
}
.dignity__block:hover{
    transform: scale(1.05);
    box-shadow: inset 0 0 15px $colorText;
}

@media (max-width: 767px) {
    .dignity {
        padding: 40px 20px;
    }
        
    .dignity__wrapper-content {
    grid-template-columns: 1fr;
    gap:16px;
   
}
 .dignity__decoration-text{
        margin-bottom: 16px;
    }
    
    .dignity__title{
        font-size: 28px;
        margin-bottom: 16px;
    }
    .dignity__text{
        font-size: 16px;
        margin-bottom: 32px;
    }
    .dignity__block{
        padding: 24px 20px;
    }
    .dignity__block-text{
        font-size: 14px;
    }
        }